@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --light-accent-color:#f4f7ff;
    --light-border-color:#f8f8f8;
    --accent-color:#3461fd;
    --bg-color-1:white;
}

body{
    margin:0;
    width:100vw;
    height:100vh;
    overflow-y:hidden;
}

body * {
    font-family:'Lexend', sans-serif;
}

.accent{
    color:var(--accent-color);
}

#mobile-wrapper{
    width:100%;
    height:100%;
}

#main-image{
    width:100vw;
    height:60vh;
    background:var(--accent-color);
    /*background-image:url('../images/cricket.jpg');
    background-position:25%;
    background-size:cover;*/
}

#login-modal{
    position:absolute;
    bottom:0;
    left:0;
    height:40vh;
    padding: 64px;
    width:calc(100vw - 128px);
    background:var(--bg-color-1);
    border-radius:64px 64px 0 0;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:24px;
}

#login-modal > h1{
    font-size:48px;
    margin:0;
}

.login-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    border:0.5vmin solid var(--light-border-color);
    border-radius:32px;
    padding:48px 64px;
    width:calc(100vw - 288px);
}

.login-input > img{
    height:48px;
    filter:invert(0.5);
}

.login-input > input{
    width:calc(100% - 72px);
    height:100%;
    font-size:32px;
    color:gray;
    outline:none;
    border:none;
    padding-left:24px;
}

#login-modal > button{
    width:100%;
    height:128px;
    font-size:32px;
    background:var(--accent-color);
    border-radius:32px;
    outline:none;
    border:none;
    color:white;
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:2px;
    cursor:pointer;
}

#login-modal > h6{
    text-align:center;
    width:100%;
    position:absolute;
    bottom:24px;
    left:0;
    font-size:24px;
    color:gray;
    font-weight:500;
}